* {
  margin: 0;
  padding: 0;
}
:root {
  --error: #dc2626;
  --error-bg: #fee2e2;
  --warning: #d97706;
  --warning-bg: #ffedd5;
}

header {
  height: 46px;
  border-bottom: 1px solid #ebebeb;
}

.code_editor {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  .file_list {
    border-bottom: 1px solid #ebebeb;
  }
  .editor {
    flex: 1;
  }
}

.file_list {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #686868;
  &::-webkit-scrollbar {
    height: 1px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
  }
  .file_item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    list-style: none;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    transition: all 0.35s;
    border-bottom: 3px solid;
    border-color: transparent;
    border-top: 3px solid transparent;
    gap: 8px;
    .close_icon {
      width: 12px;
    }
    // &:hover {
    //   background-color: #f2f2f2;
    // }
    &.file_item__active {
      color: #4590ff;
      border-bottom-color: #4590ff;
      // background-color: #72cffa8c;
    }
    &.add_icon > img {
      height: 15px;
    }
    .file_item_label {
      user-select: none;
    }
    .file_name_input {
      width: 90px;
      height: 100%;
      padding: 0 10px;
      font-size: 13px;
      color: #333;
      background-color: #f0f0f0;
      border: none;
      // border: 1px solid #ddd;
      // border-radius: 4px;
      outline: none;
  }
  }
}


// 报错以及告警信息
.tips_message {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translatex(-50%);
  width: 60%;
  padding: 16px;
  background-color: #fff;
  border: 1px solid;
  border-radius: 6px;
  &.error {
    color: var(--error);
    border-color: var(--error);
    background-color:  var(--error-bg);
    .close_tips {
      color:  var(--error-bg);
      background-color: var(--error);
    }
  }
  &.warning {
    color: var(--warning);
    border-color: var(--warning);
    background-color:  var(--warning-bg);
    .close_tips {
      color:  var(--warning-bg);
      background-color: var(--warning);
    }
  }
  .tips_content {
    text-wrap: wrap;
    // margin: 0;
    // overflow: auto;
    // white-space: break-spaces;
  }
  .close_tips {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 8px;
    text-align: center;
    cursor: pointer;
  }
}